{% extends 'Admin/admin_hm_index.html' %}
{% block body %}

<body>
<form action="/myapp/add_depo_officer_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
{#    <tr>#}
{#      <th>Gender</th>#}
{#      <td>#}
{#        <p>#}
{#          <label>#}
{#            <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />#}
{#            Male</label>#}
{#          <br />#}
{#          <label>#}
{#            <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />#}
{#            Female</label>#}
{#          <br />#}
{#          <label>#}
{#            <input type="radio" name="RadioGroup1" value="Others" id="RadioGroup1_2" />#}
{#            Others</label>#}
{#          <br />#}
{#      </p></td>#}
{#    </tr>#}
      <tr>
        <th>Gender</th>
        <th><select name="RadioGroup1">

            <option value="Male" {% if val.Gender == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if val.Gender == 'Female' %}selected{% endif %}>Female</option>
            <option value="Others" {% if val.Gender == 'Others' %}selected{% endif %}>Others</option>
        </select></th>
      </tr>
    <tr>
      <th>Date Of Birth</th>
<td>
      <input type="date" name="textfield2" min="1800-01-01" max="2010-12-31"  placeholder="" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td>
      <input type="email" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td>
      <input type="text" name="textfield5" placeholder="" pattren="[6789][1-9] {9}" max="10" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Depo</th>
      <td>
      <input type="text" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Proof</th>
      <td>
      <input type="file" name="fileField" id="fileField" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}