<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/view_profile_depo/">View Depo Officer Profile</a><br>
<a href="/myapp/view_pass_request/">View New Pass Request</a><br>
<a href="/myapp/view_approved_pass/">View Approved Pass</a><br>
<a href="/myapp/view_rejected_pass/">View Rejected Pass</a><br>
<a href="/myapp/update_pass/">Update Existing Pass</a><br>
<a href="/myapp/view_payments_do/">View Payments</a><br>
</body>
</html>