<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/view_user_profile/">User View Profile</a><br>
<a href="/myapp/edit_user_profile/">User Edit Profile</a><br>
<a href="/myapp/view_DepoOfficer/">User View Depo Officer</a><br>
<a href="/myapp/new_pass_req/">New Pass Request</a><br>
<a href="/myapp/view_existing_pass/">User View Existing Pass</a><br>
<a href="/myapp/payment/">Make Payments</a><br>
<a href="/myapp/view_status_download/">View Pass Status And Download Pass</a><br>
<a href="/myapp/complaint/">Send Complaints</a><br>
<a href="/myapp/view_reply/">View Reply</a><br>

</body>
</html>