{% extends 'User/user_hm_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
    <div class="printable_div_id" id="printable_div_id">
        <table class="table table-bordered">
        <tr>
      <th>Photo</th>
      <td><img src="{{ data.USERS.Photo }}"height="100px" width="100px">&nbsp;</td>
    </tr>
{#          <tr>#}
{#      <th>Photo</th>#}
{#        <td>{{ data.USERS.Name }}</td>#}
{#    </tr>#}
    <tr>
      <th>Name</th>
        <td>{{ data.USERS.Name }}</td>
    </tr>
  <tr>
      <th>From Place</th>
      <td>{{ data.From_place }}</td>
      </tr>
  <tr>
      <th>To Place</th>
      <td>{{ data.To_Place }}</td>
  </tr>
  <tr>
      <th>Type</th>
      <td>{{ data.Type }}</td>
  </tr>
  <tr>
      <th>Date</th>
      <td>{{ data.Date }}</td>
  </tr>
  <tr>
      <th>Time_period</th>
      <td>{{ data.Time_period }}</td>
  </tr>
  <tr>
      <th>Amount</th>
      <td>{{ data.Amouont }}</td>
  </tr>
  <tr>
      <th>Status</th>
      <td>{{ data.Status }}</td>
  </tr>
  <tr>

      <td colspan="2" align="center">
          {% if data.Status == 'Approved' %}
          <a href="" class="btn btn-success" id="dnld" onClick="printdiv('printable_div_id');">Download</a>
          {% elif data2 == 'yes'  %}
              Waiting for approval
          {% elif data.Status == 'pending' %}
          <a href="/myapp/payment/{{ data.id }}/{{ data.Amouont }}" class="btn btn-success">Make Payment</a>
          {% endif %}
      </td>
    </tr>
  </table>

    </div>
</form>

<script>
function printdiv(elem) {
  var header_str = '<html><head><title>' + document.title  + '</title></head><body>';
  var footer_str = '</body></html>';
  var dnld = document.getElementById('dnld');
  dnld.style.display = 'none'
  var new_str = document.getElementById(elem).innerHTML;
  var old_str = document.body.innerHTML;
  document.body.innerHTML = header_str + new_str + footer_str;
  window.print();
  document.body.innerHTML = old_str;
  return false;
}
</script>
</body>

{% endblock %}